# 01. Import Libraries

In [20]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Import Data

In [21]:
# Path to main folder
path = r'C:\Users\jmacs\Documents\Career Foundry Tasks\01-2024 Instacart Basket Analysis'

In [22]:
# Importing orders_products_combined data
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [23]:
df_orders_products_combined.shape

(32434489, 9)

In [24]:
df_orders_products_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [25]:
# Importing products_checked data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [26]:
df_prods.shape

(49672, 5)

In [27]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [28]:
# creating new dataframe joining on product_id with indicator
df_ords_prods_merge = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [29]:
df_ords_prods_merge.shape

(32404859, 14)

In [30]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [31]:
# checking the merge column
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [32]:
# creating new dataframe joining on product_id without indicator
df_ords_prods_merge = df_orders_products_combined.merge(df_prods, on = 'product_id')

In [33]:
# exporting orders_products_merge in pickle format
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merge.pkl'))